.portfolio-filter{
  margin-bottom: 35px;
  ul.nav-tabs{
    padding: 5px 0;
    border-bottom: none;
    justify-content: center;
    > li{
      display: inline-block;
      + li{
        margin-left: 5px;
      }
      > a{
        line-height: 28px;
        background: $white;
        padding: 3px 10px;
        display: inline-block;
        font-family: $headings-font-family;
        @include border-radius(7px);
        &:hover, &:focus, &.active{
          background: $theme-color;
          color: $white;
        }
      }
    }
  }
}
.filter-left{
  .portfolio-filter{
    ul.nav-tabs{
      justify-content: flex-start;
    }
  }
}
.gva-portfolio-items{
  float: left;
  width: 100%;
  .view-portfolio{
    width: 100%;
  }
}

.portfolio-v1{
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: none;
  .portfolio-content{
    position: relative;
    @include transition(box-shadow 0.3s ease);
  } 
  .portfolio-images{
    position: relative;
    text-align: center;
    overflow: hidden;
    @include border-radius(7px);
    &:before{
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 70%;
      background: -webkit-gradient(linear,left bottom,left top,from(#13161f),to(rgba(27,31,46,0)));
      background: linear-gradient(0deg,#13161f 0%,rgba(27,31,46,0) 100%);
      background: -ms-linear-gradient(0deg,#13161f 0%,rgba(27,31,46,0) 100%);
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
      transform: translateY(50%);
    }
    .image-popup{
      @include opacity(0);
      @include border-radius(7px);
      @include size(50px, 50px);
      background: $white;
      font-size: 18px;
      line-height: 50px;
      position: absolute;
      top: 125px;
      right: 20px;
      z-index: 99;
      text-align: center;
      @include transition(all 0.35s);
      margin-top: 65px;
      @include media-breakpoint-down(xs){
        @include size(30px, 30px);
        line-height: 30px;
        font-size: 16px;
        top: 90px;
      }
      &:hover{
        color: $white;
        background: $theme-color;
      }
    }
    .link, .btn-readmore{
      @include transition(all 0.35s);
      @include size(50px, 50px);
      @include border-radius(7px);
      background: $white;
      line-height: 50px;
      font-size: 18px;
      position: absolute;
      right: 20px;
      z-index: 99;
      text-align: center;
      @include media-breakpoint-down(xs){
        @include size(30px, 30px);
        line-height: 30px;
        font-size: 16px;
      }
      &:hover, &:focus, &:active{
        color: $white;
        background: $theme-color;
      }
    }
    .link{
      top: 72px;
      margin-top: 45px;
      @include opacity(0);
      @include media-breakpoint-down(xs){
        top: 55px;
      }
    }
    .btn-readmore{
      top: 20px;
    }
  }
  .content-inner{
    position: absolute;
    @include size(100%, auto);
    left: 0;
    bottom: 0;
    z-index: 11;
    text-align: left;
    @include transition(all 0.35s);
    padding: 40px;
    color: $white;
    @include media-breakpoint-down(lg){
      padding: 30px;
    }
    .title{  
      @include transition(all 0.35s);
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.72px;
      margin-bottom: 5px;
      @include media-breakpoint-down(md){
        font-size: 20px;
        line-height: 28px;
      }
      a{
        display: block;
        color: $white;
        &:hover, &:focus, &:active{
        }
      }
    }
  }
  &:hover, &:active, &:focus{
    .portfolio-images{
      &:before{
        background: -webkit-gradient(linear,left bottom,left top,from($theme-color),to(rgba(27,31,46,0)));
        background: linear-gradient(0deg,$theme-color 0%,rgba(27,31,46,0) 100%);
        background: -ms-linear-gradient(0deg,$theme-color 0%,rgba(27,31,46,0) 100%);
        transform: translateY(0%);
      }
      .image-popup{
        @include opacity(1);
        margin-top: 0;
      }
      a.link{
        @include opacity(1);
        margin-top: 0;
      }
      .btn-readmore{
        background: $theme-color;
        color: $white;
      }
    }
  }
  ul{
    list-style: none;
    padding: 0;
  }
}

.owl-carousel{
  .portfolio-v1{
    margin-bottom: 0;
  }
}

.portfolio-v2{
  overflow: hidden;
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  .portfolio-images{
    position: relative;
    img{
      transition: transform 0.35s;
    }
    .image-popup{
      @include opacity(0);
      @include size(32px, 32px);
      background: $white;
      line-height: 32px;
      position: absolute;
      bottom: 15px;
      right: 15px;
      z-index: 99;
      text-align: center;
      @include transition(all 0.35s);
      margin-bottom: 30px;
      &:hover{
        color: $white;
        background: $theme-color;
      }
    }
    .link{
      @include opacity(0);
      @include transition(all 0.35s);
      @include size(32px, 32px);
      background: $white;
      line-height: 33px;
      position: absolute;
      bottom: 55px;
      right: 15px;
      z-index: 99;
      text-align: center;
      margin-bottom: 45px;
      &:hover, &:focus, &:active{
        color: $white;
        background: $theme-color;
      }
    }
  }
  .content-inner{
    background: #f7f7f7;
    padding: 40px 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    @include transition(all 0.35s);
    @include media-breakpoint-down(sm){
      padding: 30px;
      padding-right: 55px;
    }
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: url('#{$base-theme-image-path}/bg-porfolio.png') no-repeat center center $theme-color;
      @include opacity(0);
      transform: translateY(-100%);
      @include transition(all 0.35s);
    }
  }
  .title{
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.72px;
    a{
      @include transition(all 0s);
    }
  }
  .btn-readmore{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background: $white;
    color: $theme-color;
    font-size: 18px;
    line-height: 55px;
    @include size(55px,55px);
    @include border-radius(7px);
    @include media-breakpoint-down(sm){
      font-size: 16px;
      line-height: 35px;
      @include size(35px,35px);
      right: 15px;
    }
  }
  &:hover, &:active, &:focus{
    color: $white;
    .content-inner:before{
      @include opacity(1);
      transform: translateY(0);
    }
    .title a{
      color: $white;
    }
    .portfolio-images{
      img{
        transform: translate3d(0,80px,0);
      }
      .image-popup{
        @include opacity(1);
        margin-top: 0;
      }
      a.link{
        @include opacity(1);
        margin-top: 0;
      }
    }
  }
}

.owl-carousel{
  .portfolio-v2{
    margin-bottom: 0;
  }
}
.portfolio-v3{
  position: relative;
  overflow: hidden;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  a.image-popup {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 3;
    color: #fff;
    @include opacity(0);
  }
  .images{
    width: 270px;
    height: 270px;
    position: relative;
    @include border-radius(7px); 
    overflow: hidden;
    img{
       position: absolute;
       top: 0;
       left: 50%;
       max-width: 150%;
       transform: translateX(-50%);
    }
  }
  .portfolio-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    @include opacity(0);
    @include border-radius(7px); 
    @include transition(all 0.5s ease);
    &:before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: rgba(#0f0f1d, 0.7);
       z-index: 1;
    }
    > *{
      position: relative;
      z-index: 2;
    }
  }
  .category a{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.72px;
    color: $white;
  }
  .title a{
    color: $white;
    font-size: 17px;
    font-weight: 400;
  }
  &:hover{
    .portfolio-content{
      height: 100%;
      @include opacity(1);
    }
    a.image-popup {
      @include opacity(1);
    }
  }
}
.portfolio-v4{
  position: relative;
  overflow: hidden;
  .image-popup{
    @include opacity(0);
    @include size(32px, 32px);
    background: $white;
    line-height: 32px;
    position: absolute;
    top: 45px;
    right: 15px;
    z-index: 99;
    text-align: center;
    @include transition(all 0.35s);
    margin-bottom: 30px;
    &:hover{
      color: $white;
      background: $theme-color;
    }
  }
  .link{
    @include opacity(0);
    @include transition(all 0.35s);
    @include size(32px, 32px);
    background: $white;
    line-height: 33px;
    position: absolute;
    top: 85px;
    right: 15px;
    z-index: 99;
    text-align: center;
    margin-bottom: 45px;
    &:hover, &:focus, &:active{
      color: $white;
      background: $theme-color;
    }
  }
  .images{
    position: relative;
    @include border-radius(7px); 
    overflow: hidden;
    @include media-breakpoint-down(md){
      width: 100%;
    }
    @media (min-width: 575.1px) {
      width: 470px;
      height: 520px;
      img{
       position: absolute;
       top: 0;
       left: 50%;
       max-width: 150%;
       transform: translateX(-50%);
      }
    }
  }
  .portfolio-content{
    max-width: 400px;
    padding: 40px;
    background: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 70px;
    overflow: hidden;
    z-index: 0;
    border-radius: 0 7px 0 0;
    @include transition(all 0.5s ease);
    -webkit-transform: translate3d(0,90px,0);
    transform: translate3d(0,90px,0);
    @media (max-width: 575px) {
      max-width: 100%;
      position: unset;
      padding: 30px 0 0;
      overflow: visible;
      transform: none;
    }
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.72px;
  }
  .action{
    margin-top: 30px;
    @include opacity(0);
    -webkit-transform: translate3d(0,60px,0);
    transform: translate3d(0,60px,0);
    transition: transform 0.35s;
    @media (max-width: 575px) {
      transform: none;
      @include opacity(1);
      a{
        border: 1px solid $border-color;
        &:hover, &:focus, &:active{
          border-color: $theme-color;
        }
      }
    }
  }
  &:hover{
    .image-popup{
      @include opacity(1);
      top: 15px;
    }
    a.link{
      @include opacity(1);
      top: 55px;
    }
    @media (min-width: 575.1px) {
      .portfolio-content{
        background: $theme-color;
        -webkit-transform: translate3d(0,0,0);
       transform: translate3d(0,0,0);
      }
      .title a, .desc{
        color: $white;
      }
    }
    .action{
      @include opacity(1);
      -webkit-transform: translate3d(0,0,0);
     transform: translate3d(0,0,0);
     i{
      margin-left: 10px;
     }
    }
  }
}
.gva-portfolio-items{
  .portfolio-item{
    margin-bottom: 30px;
  }
}
.portfolio-grid-2 {
  &.no-filter{
    .portfolio-filter{
      display: none;
    }
  } 
  .view-portfolio > div{
    &:first-child{
      .portfolio-v4{
        margin-top: 0px;
      }
    }
  }
  .portfolio-v4{
    margin-top: 80px;
  }
}