.testimonial-node-1, .testimonial-node-2{
  .content-body{
    background: url('#{$base-theme-image-path}/bg-testimonial.png') no-repeat 0% 100%;
  }
  .info{
    position: relative;
    padding-left: 50px;
    margin-top: 20px;
    &:before{
      content: "\f10e";
      font-family: $font-icon;
      font-weight: 900;
      font-size: 30px;
      line-height: 38px;
      color: $theme-color;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .name{
    font-size: 22px;
    font-weight: 800;
    color: $black-2;
    letter-spacing: -0.66px;
    margin-bottom: 0;
    @include media-breakpoint-down(lg){
      font-size: 20px;
    }
  }
}
.testimonial-node-1{
  background: $white;
  transition: all 0.35s;
  overflow: hidden;
  @include border-radius(7px);
  @media (min-width: 680px){
    .testimonial-content{
      display: flex;
    }
  }
  .content-body{
    display: flex;
    align-items: center;
  }
  .content-body{
    padding: 40px 50px;
    width: calc(100% - 170px);
    @include media-breakpoint-down(lg){
      padding: 20px 30px;
    }
    @media (max-width: 679.99px){
      width: 100%;
    }
  }
  .avatar{
    width: 170px;
    @media (max-width: 679px){
      text-align: center;
      margin-bottom: 20px;
    }
    .item-image{
      width: 100%;
      height: 100%;
      display: inline-block;
      position: relative;
      overflow: hidden;
    }
    img{
       position: absolute;
       top: 0;
       right: 0;
       max-width: 200%;
    }
    .quote-icon{
      font-size: 38px;
      @include size(38px, 38px);
      background: $theme_color;
      color: $white;
      text-align: center;
      display: inline-block;
      @include border-radius(50%);
      position: absolute;
      top: 50%;
      margin-top: -20px;
      right: -20px;
      line-height: 60px;
      font-style: italic;
      padding-right: 12px;
    }
  }
  &:hover{
    box-shadow: 0px 6px 20px 3px rgba(0, 0, 0, 0.08);
  }
}
.testimonial-node-2{
  .content-body{
    position: relative;
    .quote{
      font-size: 20px;
      line-height: 32px;
      font-style: italic;
      position: relative;
      color: $black-2;
      margin-bottom: 35px;
      font-family: $headings-font-family;
    }
  }
}
.owl-carousel{
  .owl-item.center{
    .testimonial-node-1{
      box-shadow: 0px 6px 21px 3px rgba(0, 0, 0, 0.08);
    }
  }
  &.owl-dots-left{
    .owl-dots{
      text-align: left; 
      margin-top: 40px;
    }
  }
}


.testimonial-node-3{
  background: none;
  max-width: 620px;
  float: left;
  position: relative;
  @include border-radius(6px);
  border: 1px solid $border-color;
  .testimonial-content{
    padding: 20px;
  }
  .video{
    margin-bottom: 20px;
    .popup-video{
      display: inline-block;
      background: url('#{$base-theme-image-path}/icon-play-2.png') no-repeat left center $nocolor;
      height: 55px;
      padding-left: 75px;
      line-height: 55px;
      @include transition(all 0.35s);
      &:hover, &:focus, &:active{
        @include scale(0.9);
      }
    }
  }
  .quote{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    font-family: "Georgia";
    color: #838383;
    font-style: italic;
  }
  .title{
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    color: $black;
  }
  .job{
    font-size: 13px;
  }
}

.testimonial-node-v3{
  margin: 0 auto;
  @include clearfix();
  text-align: center; 
  .testimonial-content{
    .testimonial-icon{
      margin-bottom: 15px;
      span{
        @include size(40px, 40px);
        color: $white;
        background: $theme_color;
        @include border-radius(50%);
        line-height: 40px;
        padding-top: 10px;
        display: inline-block;
        font-size: 36px;
        text-indent: -2px;
        font-style: italic;
        text-align: center;
      }
    }
    .quote{
      font-size: 20px;
      line-height: 32px;
      font-style: italic;
      position: relative;
      color: $black-2;
      margin-bottom: 35px;
      font-family: $headings-font-family;
    }
  }
  .content-inner{
    @include clearfix();
    display: inline-block;
    .left{
      @include size(90px, 90px);
      @include border-radius(50%);
      float: left;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .right{
      padding-left: 110px;
      padding-top: 20px;
      text-align: left;
      .name{
        color: $theme_color;
        font-weight: 700;
        font-size: 18px;
        display: block;
        line-height: 1.1;
        font-family: $headings-font-family;
      }
      .job{
        color: #b1bec5;
      }
    }
  }
}


.testimonial-grid{
  .item-grid{
    margin-bottom: 45px;
    @include clearfix();
    .testimonials-quote{
      font-size: 16px;
      color: $black;
      padding: 30px;
      border: 1px solid $border-color;
      font-weight: 400;
      font-style: italic;
      font-family: "Georgia";
    }
    .testimonials-profile{
      display: inline-block;
      position: relative;
      margin-left: 30px;
      float: left;
      padding-top: 20px;
      &:after{
        content: "";
        position: absolute;
        @include size(50px, 2px);
        background: $theme-color;
        top: -1px;
        left: 0;
        z-index: 1;
      }
      .right{
        padding-left: 70px;
        .name{
          font-size: 16px;
          font-weight: 700;
          color: #000000;
          margin: 0;
          text-transform: uppercase;
        }
        .job{
          font-size: 12px;
          font-weight: 900;
          color: $theme-color;
          text-transform: uppercase;
        }
      }
      .left{
        display: inline-block;
        float: left;
        img{
          @include border-radius(50%);
          width: 50px;
          height: auto;
        }
      }
    }
  }
}