<article class="testimonial-node-v3">      
   <div class="testimonial-content">
      <div class="testimonial-icon"><span>"</span></div>
      <div class="quote">{{ fields.body.content|striptags|trim }}</div>  
      <div class="content-inner">
         <div class="left">
            <div class="avatar">{{ fields.field_testimonial_avatar.content }}</div> 
         </div>   
         <div class="right"> 
            <span class="name">{{ fields.field_testimonial_name.content }}</span>
            <span class="job">{{ fields.field_testimonial_job.content }}</span>   
         </div>
      </div>    
   </div>
</article>
  