.gsc-images-parallax{
  @include clearfix();
  .action{
    margin-top: 15px;
  }
  .image-1{
    position: relative;
    overflow: hidden;
    &:before {
      position: absolute;
      top: 0;
      left: -100%;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .3) 100%);
      transform: skewX(25deg);
      z-index: 2;
    }
    &:hover:before{
      -webkit-animation: shine 1.5s;
      animation: shine 1.5s;
    }
  }
  &.style-v1{
    max-width: 600px;
    .images{
      position: relative;
      text-align: center;
      @include media-breakpoint-down(sm){
        max-width: 650px;
        float: none;
        margin: 0 auto;
      }
    }
    .image-1{
      max-width: 400px;
      img{
        border-radius: 7px 0 0 0;
      }
    }
    .content-box{
      @include size(169px, 169px);
      border-radius: 50%;
      background: $theme_color;
      color: $white;
      text-align: center;
      padding: 10px 20px 10px;
      position: absolute;
      top: 45px;
      left: 0;
      z-index: 99;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $headings-font-family;
      .icon{
        display: block;
        width: 100%;
        margin-bottom: 5px; 
        font-size: 46px;
        line-height: 50px;
        font-weight: 400;
      }
      a{
        color: $white;
        &:hover{
          text-decoration: underline;
        }
      }
      @include media-breakpoint-down(lg){
        @include size(150px, 150px);
        font-size: 17px;
        .icon{
          font-size: 45px;
          line-height: 45px;
        }
      }
      @include media-breakpoint-down(md){
        @include size(120px, 120px);
        font-size: 14px;
        .icon{
          font-size: 35px;
          line-height: 35px;
        }
      }
      
    }  
    &.right{
      .image-1{
        position: relative;
        z-index: 1;
        padding-right: 90px; 
      }
      .image-2{
        position: absolute;
        bottom: -120px;
        right: 0;
        z-index: 9;
        padding: 15px;
        text-align: right;
        background: $white;
        max-width: 80%;
        box-shadow: 0px 6px 21px 3px rgba(0, 0, 0, 0.1);
        @include media-breakpoint-down(sm){
          bottom: 0!important;
        }
      }
      .content-box{
        left: auto;
        right: 0;
      }
    }

    &.left{
      .images{
        text-align: left;
      }
      .image-1{
        position: relative;
        z-index: 1;
      }
      .image-2{
        position: absolute;
        top: 80px;
        right: 30px;
        z-index: -1;
      }
    }
  }
  &.style-v2{
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: -50px;
      width: 100%;
      height: 100%;
      background: url('#{$base-theme-image-path}/bg-parallax.png') no-repeat 0 50%;
      background-size: contain;
      -webkit-animation-name: float-bob-y;
      animation-name: float-bob-y;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
    .images{
      padding-bottom: 200px;
      position: relative;
    }
    .image-2{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &.style-v3{
    padding-bottom: 140px;
    max-width: 700px;
    position: relative;
    @include media-breakpoint-down(sm){
        margin-bottom: 30px;
      }
    .images{
      text-align: center;
      @include media-breakpoint-down(sm){
        max-width: 650px;
        float: none;
        margin: 0 auto;
      }
    }
    .image-1{
      margin-right: 100px;
      @include media-breakpoint-down(lg){
        margin-right: 0;
      }
    }
    .content-box{
      @include size(120px, 120px);
      border-radius: 50%;
      background: $theme_color;
      color: $white;
      text-align: center;
      padding: 10px 20px 10px;
      position: absolute;
      top: 20px;
      left: -60px;
      z-index: 99;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $headings-font-family;
      .icon{
        display: block;
        width: 100%;
        margin-bottom: 5px; 
        font-size: 46px;
        line-height: 50px;
        font-weight: 400;
      }
      a{
        color: $white;
        &:hover{
          text-decoration: underline;
        }
      }
      @include media-breakpoint-down(lg){
        @include size(90px,90px);
        font-size: 14px;
        left: 20px;
        .icon{
          font-size: 35px;
          line-height: 40px;
        }
      }      
    }
    .image-2{
      position: absolute;
      bottom: 0px;
      right: 0;
      z-index: 9;
      padding: 10px;
      text-align: right;
      background: $white;
      max-width: 80%;
      box-shadow: 0px 6px 21px 3px rgba(0, 0, 0, 0.1);
      @include border-radius(7px);
      @include media-breakpoint-down(sm){
        bottom: 0!important;
      }
    }
  }
}