.gsc-image-content{
  &.skin-v1{
    display: flex;
    align-items: center;
    @include media-breakpoint-down(xs){
      display: block;
      .image{
        margin-bottom: 30px;
      }
    }
    @include media-breakpoint-up(sm){
      .image{
        width: 170px;
      }
      .box-content{
        width: calc(100% - 170px);
      }
    }
    .icon{
      font-size: 56px;
      color: $white;
      line-height: 58px;
      margin-bottom: 15px;
    }
    .title{
      font-size: 22px;
      letter-spacing: -0.66px;
      margin: 0 0 15px;
      font-weight: 700;
      a{
        color: $white;
      }
    }
    .sub-title {
      font-size: 18px;
      margin-top: 10px;
      span{
        padding: 0 0 0 55px;
        position: relative;
        &:after{
          content: '';
          @include transform(translateY(-50%));
          @include size(40px, 3px);
          background: $theme-color;
          position: absolute;
          top: 50%;
          left: 0;
          z-index: 1;
        }
      }
    }
    .read-more{
      margin-top: 15px;
    }
    &:hover{
      .image{
      }
    }
  }

  &.skin-v2{
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    @include border-radius(6px);
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;
    @include box-shadow(0px 10px 30px rgba(0, 0, 0, 0.1));
    .image{
      position: relative;
      overflow: hidden;
      text-align: center;
      img{
        @include transition(all 3s);
      }
    }  
    .box-content{
      background: $white;
      padding: 30px;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      @include transition(all 0.35s);
      .title{
        margin: 0 0 15px;
        font-size: 20px;
      }
      .desc{
        margin-top: 5px;
      }
    }
  }
  &.skin-v3{
    border-radius: 7px;
    overflow: hidden;
    @include media-breakpoint-down(sm){
      margin-bottom: 30px;
    }
    .image{
      position: relative;
      overflow: hidden;
      max-height: 250px;
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(15, 15, 29, 0.75);
        content: "";
        border-radius: 7px;
        z-index: 1;
      }
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        display: block;
        content: '';
        width: 0;
        height: 0;
        background: rgba(255, 255, 255, .2);
        border-radius: 0%;
        transform: translate(-50%, -50%);
        border-radius: 7px;
        opacity: 0;
      }
      img{
        width: 100%;
        transform: scale(1);
        @include transition(all 0.35s);
      }
    }
    .content-inner{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 40px 55px;
      z-index: 3;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(lg){
        padding: 25px 30px;
      }
    }
    .title{
      font-size: 25px;
      line-height: 40px;
      font-weight: 700;
      letter-spacing: -0.75px;
      color: $white;
      @include media-breakpoint-down(lg){
        font-size: 20px;
        line-height: 30px;
      }
      a{
        color: $white;
      }
    }
    .btn-outline{
      margin-top: 15px; 
      padding: 8px 25px;
      border: 2px solid rgba($white, 0.2);
      color: $white;
      display: inline-block;
    }
    &:hover{
      .image {
        img {
          transform: scale(1.1);
        }
        &:after{
          -webkit-animation: circle .95s;
          animation: circle .95s;
        }
      }
    }
  }
}