.service-timeline {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
  @include media-breakpoint-down(xs){
    text-align: center;
  }
  @include media-breakpoint-up(sm){
    &:before {
      background: #25252e;
      content: "";
      left: 50%;
      top: 10px;
      bottom: 0;
      position: absolute;
      width: 1px;
      margin-left: -1px;
      margin-top: -10px;
      height: 100%;
      @include opacity(0.1);
    }
  }
  > li {
    display: block;
    width: 100%;
    position: relative;
    @include media-breakpoint-up(sm){
      &:nth-child(even) {
        .year{
          order: 2;
          text-align: left;
          padding-left: 90px;
          @include media-breakpoint-down(lg){
            padding-left: 60px;
          }
        }
        .hentry-box{
          order: 1;
          padding-right: 90px;
          @include media-breakpoint-down(lg){
            padding-right: 60px;
          }
        }
      }
      &:nth-child(odd) {
        .year{
          text-align: right;
          padding-right: 90px;
          @include media-breakpoint-down(lg){
            padding-right: 60px;
          }
        }
        .hentry-box{
          padding-left: 90px;
          @include media-breakpoint-down(lg){
            padding-left: 60px;
          }
        }
      }
    }
    .title{
      font-size: 22px;
      font-weight: 700;
      color: $black;
      font-family: $headings-font-family;
      margin-bottom: 20px;
    }
  }
  .entry-timeline + .entry-timeline{
    margin-top: 100px;
    @include media-breakpoint-down(lg){
      margin-top: 60px;
    }
  }
  .year{
    font-size: 52px;
    letter-spacing: -1.56px;
    color: $theme-color;
    line-height: 52px;
    margin-bottom: 20px;
    @include media-breakpoint-up(sm){
          -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include media-breakpoint-down(xs){
      font-size: 40px;
    }
  }
  .icon{
    display: inline-block;
    @include size(65px, 65px);
    @include border-radius(50%);
    border: 2px solid $theme-color;
    text-align: center;
    color: $theme-color;
    background: $white;
    line-height: 65px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 9;
    @include transform(translateX(-50%));
    @include media-breakpoint-down(xs){
      @include size(35px, 35px);
      line-height: 30px;
      i{
        font-size: 12px;
      }
    }
    i{
      margin-right: 0;
    }
  }
  .desc{
    margin-bottom: 30px;
  }
  .hentry-box{
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(sm){
          -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  .hentry {
    @include media-breakpoint-up(sm){
      display: flex;
      justify-content: space-between;
    }
    @include media-breakpoint-down(xs){
      padding-top: 50px;
    }
  }
}